{% extends 'base.html' %}
{% load static %}

{% block first_disp %}
    <section  style="margin-top:15%">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center text-light"> Содержимое не доступно </h1>
                    <h3 class="text-center text-light"> Каждый новый читатель приблежает нас к заполнению этой страницы </h3>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block search %}{% endblock %}
{% block content %}{% endblock %}

{% block foot %}
    <style>
        .op_del{
            display: none;
            opacity: 0;
        }

        @media only screen and (max-width: 991px) {
            h1{
                font-size: 2rem;
            }
            h3{
                font-size: 1.5rem;
            }
        }
        @media only screen and (max-width: 768px) {
            h1{
                font-size: 1.5rem;
            }
            h3{
                font-size: 1.25rem;
            }
        }
    @media only screen and (max-width: 480px) {
        h1{
                font-size: 1.25rem;
            }
            h3{
                font-size: 1rem;
            }
    }
    </style>
{% endblock %}

