.descr-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 3px #000 solid;

}

.descr {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;

    text-align: left;
    padding-left: 12px;
    padding-top: 10px;
    font-size: 19px;
    font-family: sans-serif;
    opacity: 0;
    transition: all .2s;
}

.descr-wrap p span {
    position: absolute;
    top: 270px;
    left: 12px;
    font-size: 15px !important;
    transition: all .4s;
    text-align: center !important;
    opacity: 0;
}
.descr-wrap span{
    color: #FFF !important;
}

.descr-wrap a p {
    margin: 0 !important;
}

.descr-wrap:hover .descr {
    top: 0;
    opacity: 1;
    bottom: 0;
}

.descr-wrap:hover a p {
    opacity: 1 !important;
    top: 0;
}

.descr-wrap:hover a p span {
    opacity: 1 !important;
    top: 140px;
}



@media only screen and (max-width: 1280px) {
    .descr-wrap p span {
        position: absolute;
        top: 235px;
        transition: all .2s;
    }

    .descr-wrap:hover a p span {
        top: 135px;
    }
}

@media only screen and (max-width: 991px) {
    .descr-wrap p span {
        position: absolute;
        top: -60px;

    }

    .descr-wrap:hover a p span {
        top: 40px;
    }


}

@media only screen and (max-width: 768px) {

}