@import url('https://fonts.googleapis.com/css?family=Istok+Web:400,700&display=swap&subset=cyrillic');

* {
    margin: 0;
    padding: 0;

}

body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    /*background-color: #4a4a4a;*/
    background: url(../img/bg.jpg) right top no-repeat;
    background-attachment: fixed;


}
.form-control-lg{
    width: 100% !important;
}
img {
    max-width: 100%;
    height: auto;
}

a {
    color: #fff;
}

a:hover {
    color: #FFF;
}

.container{
    max-width: 1000px;
}
.bg-l {
    background-color: #FFF;
}

.ind-menu {
    margin: 0;
    padding: 0;
}

section {

}

/*nav*/
.navbar {
    font-size: 17px;
    padding: 0;
}

.navbar-brand {
    font-size: 25px;
    text-transform: uppercase;
}

.nav-item {
    border-right: 1px solid #FFF;
}


.nav-item:hover {
    background-color: #1b1b1b;

}


.nav-link {
    margin: 0 10px;
}

.navbar-brand:hover {
    color: #dfff08;
}

.show {
    border-radius: 0;
}

.logo {
    width: 40px;
    margin-right: 10px;
}


.last_item {
    border-right: none;

}

.ind-menu .last_item .dropdown-toggle {
    margin-right: 0;
}

.dropdown-item:focus {
    background-color: #dfff08;
    color: #000;
}


/*Slider*/
#rectangle {
    margin-left: 10px;
    height: 0;
    width: 300px;
    border-bottom: 25px solid #533e3c;
    border-right: 30px solid transparent;

}

#rectangle p {
    margin: 40px 0 0 20px;
    font-size: 20px;
    font-weight: bold;
    color: #7f7e7a;
    opacity: 1;
}

.slider {
    font-size: 50px;
    text-align: center;
    color: black;
    background-color: #FFF;
    margin: 0;
    border: 2px black solid;
    height: 100%;
    width: 270px;

}

.owl-carousel {
    padding: 0 10px;

}

.owl-dots {
    margin: 0;
}

/*live*/
.live .container .row {
    background-color: #4a4a4a;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.live .container .row .text-live p {
    font-size: 20px;
    font-weight: bold;
    color: #7f7e7a;
    margin: 1px;
}

.logo-live {
    background-color: #000;

}

.logo-live h1 {

    font-weight: bold;
    font-size: 80px;
    color: #09ffed;
    margin: 5px 0 0 0;
    text-transform: uppercase;
    text-align: center;

}

.logo-live img {
    width: 70px;
    height: auto;
    margin-top: 30px;
    /*margin-right: 5px;*/

}

.logo-live h1 i {
    position: absolute;
    top: 5px;
    color: red;
    font-size: 25px;
}
/*mark*/

.mark_wrap{
    position: relative;
}
.mark_wrap:hover .desc_mark{
    opacity: 0.9;
}

.mark_wrap:hover .desc_mark_mini{
    opacity: 0.9;
}

.desc_mark{
    position: absolute;
    top: 15px;
    left: 20px;
    color: #fff;
    font-size: 50px;
    opacity: 0.15;
}

.desc_mark_mini{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    font-size: 20px;
    opacity: 0.15;
}

.mark_title{

}

/*search*/

.custom-search {
    padding-right: 0;
}


/*posts*/
.bor {
    border: 2px black solid;
}

.post-title {
    color: #000;
    padding: 5px 0 3px 0;
    margin: 0;
}
.media-body .inl p {
    margin: 0 ;
    display: inline !important;
}


.img-wrap {
    border: 3px black solid;
}

.media-body {
    padding: 10px;
}

.article-metadata {
    margin-top: 10px;
    font-weight: bold;
    color: rgb(197, 198, 199);
    font-size: 16px;
}

.article-metadata .linkdata {
    color: rgb(197, 198, 199);
    text-decoration: none;
}

.article-metadata a:hover {
    color: black;
}
.txt_body p span, .txt_body p{
    font-size: 18px !important;
}


.last_news{
    font-size: 50px !important;
	/*color: #000;*/
	/*text-shadow:*/
	/*	-0   -1px 3px #F4F0C1,*/
	/*	 0   -1px 3px #F4F0C1,*/
	/*	-0    1px 3px #F4F0C1,*/
	/*	 0    1px 3px #F4F0C1,*/
	/*	-1px -0   3px #F4F0C1,*/
	/*	 1px -0   3px #F4F0C1,*/
	/*	-1px  0   3px #F4F0C1,*/
	/*	 1px  0   3px #F4F0C1,*/
	/*	-1px -1px 3px #F4F0C1,*/
	/*	 1px -1px 3px #F4F0C1,*/
	/*	-1px  1px 3px #F4F0C1,*/
	/*	 1px  1px 3px #F4F0C1,*/
	/*	-1px -1px 3px #F4F0C1,*/
	/*	 1px -1px 3px #F4F0C1,*/
	/*	-1px  1px 3px #F4F0C1,*/
	/*	 1px  1px 3px #F4F0C1;*/

}
.txt_base p span{
     font-family: 'Istok Web', sans-serif !important;
}
.txt_base p {
     margin: 0!important;
}


/*Footer*/

.foot {
    background-color: #000000;
}

.foot p {

    font-size: 23px;
    text-align: left;
    color: #fff;
    margin: 25px 40px;
}

/*Large Devices, Wide Sceen*/
@media only screen and (max-width: 1280px) {
    .container {
        max-width: 960px;
    }

}

@media only screen and (max-width: 1200px) {


}


/*Medium Devices, Desktop*/


@media only screen and (max-width: 991px) {
    .nav-item {
        margin-left: 55px;
        border: none;
    }

    .nav-link {
        margin: 0;
    }

    .nav-item:hover {
        background-color: #000;
        border: none;
    }

    .nav-item a:hover {
        color: #dfff08;
    }

    .ind-menu {
        padding: 0 15px;
    }

    .custom-search {
        padding-right: 15px;
    }

    .desc_mark_mini{
        position: absolute;
        top: 15px;
        left: 20px;
        color: #fff;
        font-size: 20px;
        opacity: 0.15;
    }
}


/*Small Devices, Tablets*/
@media only screen and (max-width: 768px) {
    .logo-live h1 {
        font-weight: bold;
        font-size: 50px;
        color: #09ffed;
        margin: 0;
        text-transform: uppercase;
        text-align: center;
    }

    .logo-live h1 i {
        top: 3px;
        font-size: 17px;
    }

    .live .container .row .text-live p {
        font-size: 18px;
    }
    .mark_title {
        font-size: 30px;
    }
    .txt_body p span,.txt_body p{
        font-size: 16px !important;
    }
    .post-title{
        font-size: 30px !important;
        font-weight: bold!important;;
    }
    .last_news{
        font-size: 29px !important;
        font-weight: bold!important;;
    }
    .desc_mark_mini{
        position: absolute;
        top: 15px;
        left: 20px;
        color: #fff;
        font-size: 50px;
        opacity: 0.15;
    }
}
/*Extra Small Devices, Phones*/
@media only screen and (max-width: 480px) {
    .logo-live h1 i {
        font-size: 17px;
    }
    .live .container .row .text-live p {
        font-size: 14px;
    }

    .mark_title{
        font-size: 18px;
    }
    .desc_mark, .desc_mark_mini{
        font-size: 22px;
    }
    .last_news{
        font-size: 22px !important;
    }
    .article-metadata{
        font-size: 12px;
    }
    .post-title{
        font-size: 20px !important;
    }
    .txt_body p span, .txt_body p{
        font-size: 13px !important;
    }
}

@media only screen and (max-width: 380px) {
    #rectangle {
        margin-left: 10px;
        height: 0;
        width: 220px;
        border-bottom: 25px solid #533e3c;
        border-right: 30px solid transparent;
    }

    #rectangle p {
        margin: 40px 0 0 20px;
        font-size: 14px;
        font-weight: bold;
        color: #7f7e7a;
        opacity: 1;
    }
}

@media only screen and (max-width: 359px) {
    .logo-live h1 i {

        top: 55px;

        font-size: 20px;
    }
}
