{% extends 'base.html' %}

{% block title %}
    {{ review.title }} - {{ block.super }}
{% endblock %}

{% block search %}
{#    {{ block.super }}#}
    <section class="mt-3 search">
        <div class="container pt-3 pb-3 bg-l" style="border-top: 2px #000 solid;border-right: 2px #000 solid;border-left: 2px #000 solid;">
            <div class="row">

                    <form class="form-inline" action="{% url 'reviews_list_url' %} " style="width: 100%">
                    <div class="col-lg-10 form-group">

                        <input class="form-control-lg" type="text" placeholder="Поиск по сайту" name="search"
                               style="border: 2px solid">

                    </div>
                    <div class="col-lg-2 ">
                        <button type="submit" class="btn btn-outline-dark btn-lg " style="width: 100%; border: 2px solid;">
                            Поиск
                        </button>
                    </div>
                    </form>


            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <div class="col-12">
        <div class="media-body">
                <div class="article-metadata">
                    <a href="#" class="linkdata">{{ review.author }}</a>
                    <p class="d-inline">{{ review.date_posted|date:"G:i, d F, Y" }}</p>
                </div>

                <h1 class="post-title">{{ review.title }}</h1>
                <div class=""><img src="{{ review.image }}" class="img-warp img-fluid" alt="Исходник"></div>

            <div class="txt_body"><p class="mt-3">{{ review.body|safe }}</p></div>
        </div>
    </div>
{% endblock %}